.search_form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 450px;
}

.search_form input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px;
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search_form button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 8px 15px;
    background-color: rgb(71, 40, 1);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search_form button:hover {
    background-color: rgb(90, 50, 2);
}

.search_form select{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 7px;
    width: 100px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    color: #898888;

    
}
.search_form option{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #c0b9b9;
}