{% extends 'pages/layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/my_orders.css' %}">
{% endblock %}

{% block title %}My Orders{% endblock %}

{% block content %}
    <h1>My Orders</h1>
    {% for order in orders %}
        <div class="order_card">
            <div class="order_header">
                <strong>Order #{{ order.id }}</strong>
                <span>Date: {{ order.created_at|date:"d.m.Y H:i" }}</span>
                <span class="status_{{ order.status }}">Status: {{ order.get_status_display }}</span>
            </div>

            <div class="order_books">
                {% for item in order.get_group_items %}
                    <div class="book_in_order">
                        <a href="{% url 'book_details' item.book.pk %}">
                            {% if item.book.cover %}
                                <img class="book_cover_order" src="{{ item.book.cover.url }}" alt="{{ item.book.title }}" >

                            {% else %}
                                <img class="book_cover_order" src="{% static 'images/book_cover_default.jpg' %}" alt="{{ item.book.title }}" >
                            {% endif %}
                        </a>
                        
                        <h5><a href="{% url 'book_details' item.book.pk %}">{{ item.book.title }}</a></h5>
                        <p class="price">{{ item.book.price }} BYN x {{ item.count }} count</p>
                        <p class="price">In all: {{ item.total_item_price|floatformat:2 }} BYN</p>
                    </div>
                {% endfor %}
            </div>

            <div class="order_footer">
                <p>Total cost: {{ order.total_price|floatformat:2 }} BYN</p>
                {% if order.status == 'n' %}
                    <a class="panel_btn" href="{% url 'confirm_order' order.pk %}">Confirm</a>
                    <a class="panel_btn" href="{% url 'cancel_order' order.pk %}">Cancel</a>
                {% endif %}
            </div>
        </div>
        
    
    {% empty %}
        <p>You haven't made any orders yet. <a class="panel_btn" href="{% url 'book_list' %}">Go to store</a>.</p>
    {% endfor %}
{% endblock %}