{% extends 'pages/layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/points.css' %}">
{% endblock %}

{% block title %}Points{% endblock %}

{% block content %}
    <h1>PickupPoints # <abbr title="Self-Delivery Points">SDP</abbr></h1>

    <div class="points">
        {% for point in points %}
            <div class="point_item">
                <h2>{{ point.city }}, {{ point.address }}</h2>
                <small>Schedule: {{ point.opening_hours }}</small>
                <a href="https://yandex.ru/maps/?text={{ point.address|urlencode }}" target="_blank">
                    Open maps
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="map_container">
        <h3>Find us on the <ins>map</ins></h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2350.628868627042!2d27.5585!3d53.9045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTPCsDU0JzE2LjIiTiAyN8KwMzMnMzAuNiJF!5e0!3m2!1sen!2sby!4v1625567890123!5m2!1sen!2sby" 
                width="1500px"
                height="400"  
                allowfullscreen="" 
                loading="lazy"></iframe>
    </div>

{% endblock %}