{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book Store{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_css %}{% endblock %}
    
</head>
<body>
    <div class="header_timezone">
        <div class="info_date">
            {% block info_date %}{% endblock %}
        </div>
        <div class="time_box">
            <b>Date & Time:</b>
            <p>UTC: {{ utc_time|date:"d/m/Y H:i" }}</p>
            <p>Local ({{ city_name }}): {{ local_time|date:"d/m/Y H:i" }}</p>
        </div>
        <div class="weather_box">
            <b>Weather</b>

            {% if header_weather %}
                <span class="weather_info">
                    {{ city_name }}: {{ header_weather.temp }}°C, {{ header_weather.desc }}
                </span>
            {% else %}
                Service temporarily unavailable
            {% endif %}
        </div>
        <div class="calendar_box">
            <pre>{{ header_calendar }}</pre>
        </div>
        
        
    </div>


    <div class="header_container">
        <div class="info_buttons">
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <p>Emploee`s panel</p>
                    <a href="{% url 'stats' %}" class="panel_btn">Statistic</a>
                    <a href="{% url 'order_management' %}" class="panel_btn">Order management</a>
                    <a href="{% url 'manage_stock' %}" class="panel_btn">Manage stock</a>
                    <a href="{% url 'import_books' %}" class="panel_btn">Import books</a>
                    {% if user.is_superuser %}
                        <a href="{% url 'admin:index' %}" class="panel_btn">Admin</a>
                    {% endif %}
                {% else %}
                    <p>User`s personal account</p>
                    <a href="{% url 'my_orders' %}" class="panel_btn">My orders</a>
                    <a href="{% url 'book_list' %}" class="panel_btn">Self-diaming points</a>
                    <a href="{% url 'book_list' %}" class="panel_btn">My promocodes</a>
                {% endif %}
            {% endif %}
        </div>

        <div class="log_bar">

            {% if user.is_authenticated %}
                <span>
                    You entered as <strong>{{ user.username }}</strong>{% if user.is_staff %} Emploee{% endif %}
                </span>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="panel_btn" type="submit">
                        Log out
                    </button>
                </form>
            {% else %}
                <a href="{% url 'register' %}" class="panel_btn">Register</a>
                <a href="{% url 'login' %}" class="panel_btn">Log in</a>
            {% endif %}

        </div>
    </div>
    


    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <div class="control_buttons">
        <a href="{% url 'book_list' %}" class="panel_btn">Main Store</a>
        <a href="{% url 'about' %}" class="panel_btn">About Company</a>
        <a href="{% url 'news' %}" class="panel_btn">News</a>
        <a href="{% url 'faq' %}" class="panel_btn">FAQ</a>
        <a href="{% url 'contacts' %}" class="panel_btn">Contacts</a>
        <a href="{% url 'privacy' %}" class="panel_btn">Policy</a>
        <a href="{% url 'vacancies' %}" class="panel_btn">Vacancies</a>
        <a href="{% url 'reviews' %}" class="panel_btn">Reviews</a>
        <a href="{% url 'promo' %}" class="panel_btn">PromoCodes</a>
    </div>
</body>
</html>