{% extends 'pages/layout.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock %}

{% block title %}Privacy{% endblock %}

{% block content %}
    <h1>Privacy policy</h1>
    <hr>

    <h2>Our Privacy Commitment</h2>
    <figure>
        <picture>
            <source media="(max-width: 600px)" 
                    srcset="{% static 'images/logo_bookstore.jpg' %}" 
                    type="image/jpg">
            
            <source media="(max-width: 1200px)" 
                    srcset="{% static 'images/book_cover_default.jpg' %}" 
                    type="image/jpg">
            
            <source media="(min-width: 1201px)" 
                    srcset="{% static 'images/banner_book.jpg' %}" 
                    type="image/jpeg">
            
            <img src="{% static 'images/download.jpg' %}" 
                 alt="Data protection standards illustration">
        </picture>
        <figcaption>Your confidence = our treatment</figcaption>
    </figure>


    <dl>
        <dt><dfn>Cookies</dfn></dt>
        <dd>Small data files stored on your device to improve experience.</dd>
        
        <dt><dfn>Personal Data</dfn></dt>
        <dd>Information that identifies you as an individual.</dd>
    </dl>

    <pre><code>
    def hello():
        print("Hello, World!")
    </code></pre>

    <hr>

    <h2>Mission Statement (Fixed Format)</h2>

    <pre>
    Reading books is always good,
    For your mind and for your mood.
    Buy a book and stay at home,
    Never feel you are alone.
    </pre>

    <p>
        If you have questions, <mark>contact us immediately</mark>. <br>
        We use <wbr>verylongwordthatmightneedabreakformobile.
    </p>

    <p>To get a discount, use this code: <code>READING2024</code></p>

    

{% endblock %}

