.back_link {
    display: inline-block;
    margin: 0 0 15px 0;
    padding: 5px;
    font-weight: bold;
    border: 1px solid rgb(58, 33, 2);
    color: rgb(58, 33, 2);
    transition: all 0.3s ease;
}

a.back_link:link{
    background-color: transparent;
    text-decoration: underline;
    border-radius: 4px;
}
a.back_link:visited{
    border-color: rgb(115, 86, 91);
    background-color: transparent;
    color: rgb(115, 86, 91);
}

a.back_link:hover{
    background-color: #610303;
    border-color: none;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(97, 3, 3, 0.3);
    transform: translateY(-2px);
}

a.back_link:active{
    background-color: #610303;
    border-radius: 6px;
    color: white;
    box-shadow: 0 20px 16px rgba(198, 57, 57, 0.793);
}