@keyframes pulse {
    0%{
        transform: translate(-50%, -50%) scale(1);
    }

    100%{
        transform: translate(-50%, -50%) scale(1.4);
    }

}
@keyframes cartoonJump {
    0% {
        transform: translateY(-150px) scale(1, 1); /* Висит высоко */
    }
    40% {
        transform: translateY(0px) scale(0.9, 1.1); /* Летит вниз, вытянулась от скорости */
    }
    43% {
        transform: translateY(10px) scale(1.3, 0.7); /* БАЦ! Ударилась о пол и сплющилась */
    }
    60% {
        transform: translateY(-50px) scale(0.95, 1.05); /* Отскочила вверх */
    }
    100% {
        transform: translateY(-150px) scale(1, 1); /* Вернулась в исходную точку */
    }
}

.scene{
    width: 400px;
    height: 300px;
    margin: 10px auto;
    box-shadow: 2px 4px 5px gray;
    background-color: white;

    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    transform: rotateX(20deg) rotateY(-30deg);
}
