.advertisement{
    width: 1480px;
    margin: 15px;
    background-color: #7b5f0c;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(43, 43, 43, 0.5);

    display: flex;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

.ad_item{
    flex: 0 0 300px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(54, 31, 4, 0.7);

    display: block;
    justify-content: center;
    transition: transform 0.3s;
}
.ad_item:hover {
    transform: scale(1.02);    
}

.ad_item a{
    text-decoration: none;    
    color: #333;  
    display: block;      
}

.ad_item img {         
    height: 180px;        
    object-fit: cover;  
    display: block;        
}

.ad_item p {
    padding: 10px 15px;
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}

.add_ad{
    background-color: #fff;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(54, 31, 4, 0.7);
}

.book_grid {
    background-color: #fff;
    margin: 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(54, 31, 4, 0.7);

    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
}

.book_card {
    width: 210px;
    margin: 0 0 10px 0;
    display: flex;
    flex-direction: column;
    
}

.book_card h3 {
    height: 45px;
    font-size: 16px;
    margin: 0 10px 5px 0;
    overflow: hidden;
}

.book_card h3 a {
    text-decoration: none;
    color: #333;
}

.book_card h3 a:hover {
    color: rgb(36, 20, 1);
}

.price {
    font-weight: bold;
    color: #610303;
    margin-top: auto;
    margin-left: auto;
}

.book_cover {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 310px;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

}

.pagination {
    margin-top: 30px;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    margin: 0 2px;
    padding: 5px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(58, 33, 2);
    border-radius: 4px;
}

.last_new_and_partners{
    display: flex;
    justify-content: space-between;
    align-items: center;
}