@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

.caption_to_new_article{
    width: 75px;
    color: rgb(99, 11, 11);
    text-shadow: 2px -1px 5px rgba(0, 0, 0, 0.566);
    align-items: center;
    padding: 5px;

    border-top: 1px solid #610303;
    border-bottom: 1px solid #610303;
    border-left: 2px solid #610303;
    border-radius: 10px 0 0 10px;
}

.news_title{
    color: rgb(134, 20, 20);
}
.news{
    display: flex;
    justify-content: flex-start;
    gap: 20px;

    margin: 10px 0 30px 15px;
    border-radius: 15px 0 0 15px;
    box-shadow: 0 5px 10px rgba(134, 20, 20, 0.722);
    background-color: white;
}
.image_of_article{
    margin: 20px 0 20px 20px;
    width: 250px;

}
.image_of_article img{
    width: 250px;
    object-fit: cover;
}
.info_article h2{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; */

    font-family: "Felipa", serif;
    font-weight: 400;
    font-style: normal;
}

.info_article p:first-of-type::first-letter{
    float: left;
    font-size: 3.8em;
    color: #610303;
    line-height: 0.5;
    margin: 5px 10px;

    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
}

.info_article p:first-of-type::first-line{

    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}
.info_article::selection{
    background-color: #610303;
    color: aliceblue;
}


.info_article p:last-of-type{
    width: 100px;
    margin: auto 200px 50px auto;
    text-decoration-style: wavy;
    font-style: italic;
}