.table_report{
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0.1, 0.3);
}

.table_report h3{
    padding: 10px;
}
.table_report table{
    width: 100%;
    border-collapse: collapse;
}

.table_report tbody td{
    text-align: center;
}
thead th:nth-child(3n+1) {
    border: 2px solid #610303;
    margin: 3px;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

tfoot tr:last-child {
  font-weight: bold;
  border-top: 2px solid #610303;
}